/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */

html {
  box-sizing: border-box;
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }

}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #252526;
  max-width: 900px;
  margin: 60px auto;
}

.logo {
  margin: 0 auto;
  display: block;
}

h2 {
  margin-top: 70px;
}

p {
  margin-top: 35px;
}

pre {
  background-color: #f1f1f2;
  padding: 10px;
  font-size: 1.2em;
  line-height: 1.8em;
}
